.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #033678;
  --mdc-protected-button-label-text-color: #fff;
}

mat-card {
  margin-top: 10px;
  width: 20%;
}

.formCdbCalculator {
  display: flex;
  flex-direction: column;
}

.actions {
  align-self: flex-end;
}

button {
  margin-left: 10px;
}

.section-calcularCdb{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.section-calcularCdb-titulo{
  font-weight: 900;
  font-size: 25px;
}

@media (max-width: 768px) {
  mat-card {
    width: 100%;
    margin-top: 10px;
    padding: 0 5%;
  }
}
