<section class="section-calcularCdb">
  <mat-card>
    <h3 class="section-calcularCdb-titulo">Simular CDB</h3>

    <mat-card-content>
      <form [formGroup]="calcularCdbForm" class="formCdbCalculator">
        <mat-form-field>
          <mat-label>Valor Monetário</mat-label>
          <mat-icon matPrefix>attach_money</mat-icon>
          <input
            currencyMask
            type="text"
            matInput
            formControlName="valorMonetario"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Prazo (meses)</mat-label>
          <mat-icon matPrefix>calendar_today</mat-icon>
          <input
            type="number"
            matInput
            formControlName="prazoEmMeses"
            />
        </mat-form-field>
        <div class="actions">
          <button mat-raised-button routerLink="/">Voltar</button>
          <a mat-raised-button color="primary" (click)="Simular()"> Simular </a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>
